.footer {
  background-color: #1A090D; /* Fondo oscuro acorde a la paleta */
  color: #ACE894;           /* Texto en color de acento */
  padding: 15px 20px;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.9em;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo .brand {
  font-size: 1.2em;
  font-weight: bold;
  color: #ACE894;
  text-decoration: none;
}

.footer-links a {
  color: #A8BA9A; /* Color secundario para enlaces */
  text-decoration: none;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ACE894;
}

.footer-info p {
  margin: 0;
}
