<p>{{ username }}'s favorite framework: {{ favoriteFramework }}</p>

<label for="framework" class="block text-[#D8A6FF] font-times-new-roman font-bold text-sm mb-2 uppercase tracking-wider;">
  Favorite Framework:
  <input id="framework" type="text" [(ngModel)]="favoriteFramework" class="w-full px-4 py-3 bg-[#E0BBFF] border border-[#D8A6FF] rounded-lg 
  text-[#4B0082] placeholder-[#9B77B3]/50 transition-all duration-300
  focus:outline-none focus:border-[#9B77B3] focus:ring-2 focus:ring-[#9B77B3]/50
  hover:border-[#A557CC] pr-12;"/>
</label>

<!-- Botón centrado con borde redondeado y hover -->
<div class="flex justify-center mt-8">
  <button (click)="showFramework()" class="px-8 py-3 font-times-new-roman font-bold text-lg uppercase tracking-wider 
  bg-[#B3A8E3] text-[#4B0082] border border-[#A9D9FF] rounded-full transition-all duration-300 
  hover:bg-[#A9D9FF] hover:text-[#4B0082]">
    Show Framework
  </button>
</div>
