<h1>MANUAL DE PRÁCTICAS</h1>
<p class="author">Elaborado por: <strong>Brian Jesus Mendoza Marquez</strong></p>

<img src="Briangular/src/assets/image.png" alt="Logo" class="header-image" />

<hr class="divider"/>

<h2 class="exercise-title">Ejercicio 1:</h2>
<app-ejercicio01></app-ejercicio01>
<hr class="divider"/>

<h2 class="exercise-title">Ejercicio 2:</h2>
<app-ejercicio02></app-ejercicio02>
<hr class="divider"/>

<h2 class="exercise-title">Ejercicio 3:</h2>
<app-ejercicio03></app-ejercicio03>
<hr class="divider"/>

<h2 class="exercise-title">Ejercicio 4:</h2>
<app-ejercicio04></app-ejercicio04>
<hr class="divider"/>

<h2 class="exercise-title">Ejercicio 5:</h2>
<app-ejercicio05></app-ejercicio05>
<hr class="divider"/>

<h2 class="exercise-title">Ejercicio 6:</h2>
<app-ejercicio06></app-ejercicio06>
<hr class="divider"/>
